body{
  font-family:'Maven Pro',  'Arial', sans-serif;
  font-size: 16px;
  background-color: #777;
  color:#333;
}
h1{

}
article{
  background-color: #222;
  color:#EEE;
  max-width: 920px;
  margin:1em auto;
  line-height: 2;
  padding:1.5em;
  border-radius: 7px;
}
#pp{
  color:red;
}

.enhanced{
  color:yellow;
}

.super{
  background-color:green;
}

#navigation{
  text-decoration: underline;
  list-style: none;
  background-color:white;
  color:black;
  text-align: center;
}

#navigation li{
   display:inline-block;
   padding:1em 1.5em;
   box-shadow: 1px 1px 3px #000;
    font-size:2em;
    margin:0.25em;
}
